buildbot/master_root/master/secrets/
buildbot/master_root/master/workers/
buildbot/master_root/master/gitpoller-workdir*/
buildbot/master_root/master/http.log
buildbot/master_root/master/master.cfg.sample

buildbot/worker_root/worker1/configs/
buildbot/worker_root/worker1/secrets/
buildbot/worker_root/worker1/builder_*/
buildbot/worker_root/worker1/Test_Linux/
buildbot/worker_root/worker1/linux-next/
buildbot/worker_root/worker1/Linux_Mainline/
buildbot/worker_root/worker1/linux-stable/
buildbot/worker_root/worker1/Test_kernel_modules/
buildbot/worker_root/worker1/tests/pmic/configs/kernel_modules.py

**/driver_tests/configs/dts/
**/driver_tests/configs/kernel_modules.py
**/driver_tests/test_powercycle.py
bd_template.py
**/twistd.log*
**/sandbox/
**/twistd.pid
**/__pycache__/
**/dts_generated/

*clipboard.txt
*state.sqlite*
*.swp
*.swo
*.log*
__init__.py
test.py

*_test.dts
