buildbot/master_root/master/secrets/
buildbot/worker_root/worker1/configs/
buildbot/worker_root/worker1/secrets/
buildbot/master_root/sandbox/
buildbot/worker_root/sandbox/
buildbot/worker_root/worker1/builder_*/
buildbot/master_root/master/gitpoller-workdir/
buildbot/master_root/master/gitpoller-workdir-test_linux/
buildbot/master_root/master/gitpoller-workdir-linux_next/
buildbot/master_root/master/twistd.log
buildbot/worker_root/worker1/twistd.log
buildbot/master_root/master/http.log
buildbot/master_root/master/twistd.pid
buildbot/worker_root/worker1/twistd.pid
buildbot/master_root/master/configs/__pycache__/
buildbot/worker_root/worker1/tests/first_test/__pycache__/
buildbot/master_root/master/master.cfg.sample
buildbot/master_root/master/state.sqlite
